.hidden {
  display: none;
}
html {
  scroll-behavior: smooth;
}

@media (max-width: 767px) {
  .header {
    width: calc(100% - 4rem);
    left: 2rem;
  }
}
.landing {
  background-image: url("./components/images/1.jpg");
  background-position: 50% 50%;
  background-size: cover;
}
.background {
  background-image: url("./components/images/15.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.about h5::before {
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 4rem;
  height: 4px;
  background-color: #61d4e7;
  position: absolute;
}
.features h5::before {
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 4rem;
  height: 4px;
  background-color: #f6d427;
  position: absolute;
}
.studio h5::before {
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 4rem;
  height: 4px;
  background-color: #ed92ae;
  position: absolute;
}
.about .image {
  background-image: url("./components/images/2.jpg");
  background-position: 50% 50%;
  background-size: cover;
}
.features .image {
  background-image: url("./components/images/3.jpg");
  background-position: 50% 50%;
  background-size: cover;
}
.studio .image {
  background-image: url("./components/images/4.jpg");
  background-position: 50% 50%;
  background-size: cover;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #fce655;
}
